
/* NAVBAR */
.navBar {
  background-color: aquamarine;
  height: 75px;
  display: flex;
  align-items: center;
  color: #005757;
}

.navBar h1 {
  padding-left: 20px;
}

.logo{
  height: 70px;
  margin-left: 20%;
}

/* MAIN CONTENT */
.main-content{
  display: flex;
}

.title-recipes{
  display: flex;
  margin-top: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: lightgray;
}
.title-recipes li{
  list-style: none;
  font-weight: 600;
  
}


/* SIDEBAR */
.options {
  background-color: lightblue;
  padding: 0;
  margin: 0;
  width: 170px;
  height: 100vh;
}
.options li{
  list-style: none; 
  color: #005757;
  font-weight: 600;
  height: 40px;
  padding-top: 20px;
  padding-left: 20px;
  border-bottom: 1px solid black;
}

.options li:hover {
  background-color: #114e35;
  color: white;
}


/* Footer */
.footer {
  background-color: aquamarine;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}



.footer a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #005757;
}

